BLIZZARD_CLIENT_ID=<Your Blizzard Client ID>
BLIZZARD_CLIENT_SECRET=<Your Blizzard Client Secret>
BLIZZARD_REGION=<Your Blizzard Region>
DATABASE_URL=<Your Database URL>
TEST_DATABASE_URL=<Your Test Database URL>
POLL_INTERVAL_SECONDS=<Interval in Seconds>
DB_ECHO=<Postgres Logging>